.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d8ae24; 
    border-radius: 6px;
    
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Change track color here */
    border-radius: 6px;

  }
  